*{
	box-sizing: border-box;
}


.div1{
	height: 650px;
	width: 1200px;
	background-color: ghostwhite;
}

.a{
	height: 100px;
	width: 1200px;
	background-color: ghostwhite;
}

.a1{
	height: 10px;
	width: 1200px;
	background-color: ghostwhite;
}

.a2{
	height: 90px;
	width: 1200px;
	background-color: white;
}

.b{
	height: 550px;
	width: 1200px;
	background-color: ghostwhite;
}

.c{
	height: 1000px;
	width: 415px;
	background-color: white;
	float: left;
	margin: 15px 15px 70px 10px;
}
.c1{
	height:265px;
	width: 415px;
}
img{
	height: 100px;
	width: 100px;
	margin-top: 15px;
	border-radius: 50px;
}
.h5{
	font-style: cursive;
	color: white;
}
hr{ 
	color: black;
	width:350px;
 }
#id{
	font-size: 20px;
}
.d{
	height: 550px;
	width: 750px;
	background-color: ghostwhite;
	float: right;
}

.e{
	height: 250px;
	width: 725px;
	background-color: white;
	margin: 15px 20px 10px 5px;
}

.f{
	height: 300px;
	width: 725px;
	background-color: white;
	margin: 5px 20px 15px 5px;
	font-size: small;
}
.b1{
	height: 30px;
	width: 100px;
	background-color: lime;
	float: left;
	margin-top : 20px;
	margin-left: 350px;
	border-radius: 5px;
	margin-right: 5px;
}

.b2{
	height: 30px;
	width: 100px;
	background-color: skyblue;
	float: left;
	margin-top : 20px;
	border-radius: 5px;
	margin-right: 5px;
}


.b3{
	height: 30px;
	width: 100px;
	background-color: skyblue;
	float: left;
	margin-top : 20px;
	border-radius: 5px;
	margin-right: 5px;
}

.b4{
	height: 30px;
	width: 100px;
	background-color: skyblue;
	float: left;
	margin-top : 20px;
	border-radius: 5px;
	margin-right: 5px;
}


.b5{
	height: 30px;
	width: 100px;
	background-color: red;
	float: left;
	margin-top : 20px;
	border-radius: 5px;
}


i{
	font-size: 50px;
	padding-top: 50px;
}


p{
	color: grey;
}


.b6{
	height: 30px;
	width: 80px;
	background-color: blue;
	border-radius: 5px;
	color: white;
}


.b7{
	height: 30px;
	width: 80px;
	background-color: white;
	color: blue;
	border-radius: 5px;
	border-color: blue;
}
.c6{
	height: 100%;
	width: 90%;
	background-color:#2589ff ;
	transition: width 0.5s;
	border-radius:8px;
}
.c2{
	height: 100%;
	width: 80%;
	background-color:red ;
	transition: width 0.5s;
	border-radius:8px;
}
.c3{
	height: 100%;
	width: 90%;
	background-color:green;
	transition: width 0.5s;
	border-radius:8px;
}
.c4{
	height: 100%;
	width: 50%;
	background-color:yellow ;
	transition: width 0.5s;
	border-radius:8px;
}
.c5{
	height: 100%;
	width: 70%;
	background-color:steelblue ;
	transition: width 0.5s;
	border-radius:8px;
}
#edit{
	padding-left: 35px;
	font-size: 10px;
}
.p1{
	display: inline;
	text-align: justify;
	padding-left: 50px;
}
.h1{
	display: inline;
	text-align: center;
	text-align: justify;

}
.p1{
	display: inline;
	text-align: justify;
	padding-left: 30px;

}
.h1{
	display: inline;
	text-align: center;
	text-align: justify;
}
.s1{
	background-color: blue;
}